@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic Coding", monospace;
}

/* PAGE LAYOUT */
main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.sidebar {
  grid-row: 1 / 5;
  grid-column: 1;
  border: 1px solid #434543;
}

.task-board {
  border: 1px solid #434543;
  grid-row: 1 / 5;
  grid-column: 2 / 5;
  overflow: scroll;
}

section {
  padding: 1rem 2rem;
}

header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.name {
  display: inline-block;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.all-tasks,
.all-projects,
.group-high,
.completed {
  border-bottom: 2px solid #434543;
  cursor: pointer;
}

/* NEW TASK FORM */
.task-modal {
  padding: 1rem;
  height: 520px;
}

.task-form h2 {
  text-align: center;
}

input {
  padding: 0.5rem;
}

textarea {
  display: block;
}

.btn-close-modal,
.close-view {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: white;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
}

.div1 {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-direction: column;
}

.div1 h3 {
  margin: 0;
}

.low {
  background-color: rgba(240, 237, 84, 0.3);
}

.medium {
  background-color: rgba(255, 132, 0, 0.3);
}

.high {
  background-color: rgba(255, 0, 0, 0.3);
}

.priority,
.status {
  margin: 1rem 0;
  display: flex;
}

.priority input:checked + span {
  border: 2px solid #434543;
}

.btn-priority,
.btn-status {
  margin: 0.5rem 1rem;
}

.btn-priority label,
.btn-status label {
  float: left;
  line-height: 2.5rem;
  width: 8em;
  height: 3em;
}

.btn-priority label span,
.btn-status label span {
  text-align: center;
  display: block;
  font-size: 1rem;
  cursor: pointer;
}

.btn-priority label input,
.btn-status label input {
  position: absolute;
  display: none;
}

.not {
  background-color: rgba(67, 69, 67, 0.3);
}

.done {
  background-color: rgba(11, 128, 7, 0.3);
}
.inprog {
  background-color: rgba(6, 115, 205, 0.3);
}

.status input:checked + span {
  border: 2px solid #434543;
}

.div-notes {
  display: flex;
  gap: 1rem;
}

.btn-add,
.btn-add-project {
  display: block;
  width: 150px;
  margin: 0.8rem auto 0;
  font-size: 1.2rem;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  padding: 0.8rem;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

/* TASKS PAGE */
.title-alltasks,
.title-allprojects {
  text-align: center;
  padding: 1rem;
}

.btn-new {
  border: 1px solid #85a784;
  background-color: #ffff;
  padding: 1rem;
  margin: 2rem;
  border-radius: 4px;
  font-size: 1.2rem;
  box-shadow: 3px 3px #85a784;
  cursor: pointer;
}

/* UI TASKS */
.div-alltasks > .task {
  margin-top: 2rem;
}

.div-alltasks > .task ~ .task {
  margin-top: 1rem;
}

.task {
  margin: 1rem;
  border: 1px solid #434543;
  border-radius: 4px;
  padding: 0.5rem;
  height: fit-content;
}

.task-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.task-title label {
  font-weight: 700;
  font-size: 1.2rem;
}

.task-info {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.task .task-notes {
  margin: 0;
  padding-left: 2rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.ui-status {
  border: 1px solid #434543;
  padding: 5px;
}

.ui-not-started {
  background-color: rgba(67, 69, 67, 0.3);
}
.ui-in-progress {
  background-color: rgba(6, 115, 205, 0.3);
}
.ui-done {
  background-color: rgba(11, 128, 7, 0.3);
}

.ui-low {
  border-left: 5px solid rgba(248, 245, 77, 0.3);
}
.ui-medium {
  border-left: 5px solid rgba(255, 132, 0, 0.3);
}
.ui-high {
  border-left: 5px solid rgba(255, 0, 0, 0.3);
}

.view-task {
  padding: 2rem;
  font-size: 1.2rem;
}

/* PROJECT PAGE */
.project {
  border: 1px solid #434543;
  margin: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-color: rgba(67, 69, 67, 0.1);
  position: relative;
}

.btn-project-task {
  border: 1px solid #85a784;
  background-color: #ffff;
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 3px 3px #85a784;
  cursor: pointer;
}

.project-name {
  padding: 0.4rem;
  margin: 0.4rem;
}

.delete-project {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* custom checkbox style */
input[type="checkbox"] {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  color: #000;
  border: 1px solid #434543;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 13px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: #fff;
    border-color: #85a784;
    background: #85a784;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    & + label {
      text-decoration: line-through;
      color: hsl(0, 0%, 70%);
      font-weight: 600;
      background-color: hsl(0, 0%, 97%);
    }
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .priority,
  .status {
    display: flex;
    flex-direction: column;
  }
}
